{
    "log": {
        "access": "",
        "loglevel": "warning",  // valid options: debug, info, warning, error, none
        "error": ""
    },
    "inbounds": [
        {
            "port": {{ xray_server_port }},
{% if xray_transport == "websocket" %}
            "listen": "127.0.0.1",
{% endif %}
            "protocol": "vless",
            "settings": {
                "clients": [
{% for client in xray_server_clients %}
                    {
                        "id": "{{ client['uuid'] }}",
{% if xray_transport == "xtls" %}
                        "flow": "xtls-rprx-direct",
{% endif %}
                        "level": 0,
                        "email": "{{ client['email'] }}"
                    }{% if not loop.last %},{% endif %}

{% endfor %}
                ],
                "decryption": "none"{% if xray_transport == "xtls" %},
                "fallbacks": {{ xray_server_fallbacks | tojson }}{% endif %}

            },
{% if xray_transport == "xtls" %}
            "streamSettings": {
                "network": "tcp",
                "security": "xtls",
                "xtlsSettings": {
                    "alpn": [
                        "http/1.1"
                    ],
                    "certificates": [
                        {
                            "certificateFile": "{{ xray_server_certifacate_file }}",
                            "keyFile": "{{ xray_server_key_file }}"
                        }
                    ]
                }
{% elif xray_transport == "websocket" %}
            "streamSettings": {
                "network": "ws",
                "security": "none",
                "wsSettings": {
                    "path": "/{{ xray_websocket_path }}/"
                }
            }
{% endif %}
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "settings": {}
        },
        {
            "tag": "block", // block all traffic
            "protocol": "blackhole",
            "settings": {
                "response": {
                    "type": "http"
                }
            }
        }
    ],
    "routing": {
        "domainStrategy": "IPIfNonMatch",
        "rules": [
            { // block domains
                "type": "field",
                "outboundTag": "block",
                "domain": {{ xray_server_block_domains | tojson }}
            },
            { // block ips
                "type": "field",
                "outboundTag": "block",
                "ip": {{ xray_server_block_ips | tojson }}
            }
        ]
    }
}
